main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .text {
    max-width: 531px;
}

main .text h1 {
    font-size: 60px;
    font-weight: 500;
    line-height: 70px;
}

main .text p {
    font-size: 20px;
    line-height: 28px;
    margin: 35px 0;
}

@media (max-width: 768px) {
    main .container {
        flex-direction: column;
    }

    main .text{
        margin-bottom: 40px;
    }

    main .text h1 {
        font-size: 40px;
        line-height: 50px;
    }


}